.idea/
.venv/
www/
dist/
.pytest_cache/
**/__pycache__
**/*.pyc

logs
credentials
.env
app.yaml
app_staging.yaml

*.egg-info

.DS_Store
logs.txt
.ipynb_checkpoints
dev/codecell_notebooks/ipython-console--*.txt
